:root {
  --text-color: #0b2154;
  --primary-color: #863884;
  /* Deep purple */
  --secondary-color: #6a1b9a;
  /* Light purple */
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* Sidebar */
.row a {
  font-size: 18px;
}

.sidebar {
  background-color: #212529;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  color: white;
  z-index: 1000;
}

.sidebar .nav-link {
  cursor: pointer;
  color: white;
  margin-bottom: 20px;
  font-size: 1.1rem;
  transition: transform 0.3s ease-in-out;
}

.sidebar .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.05);
}

.sidebar .nav-link i {
  color: white;
}

.container {
  margin-top: 8vh;
  margin-left: 18%;
}

h2 {
  font-size: 40px;
  margin-top: 8vh;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.vehicle-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.vehicle-card:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.small-img {
  height: 120px;
  object-fit: contain;
}

.card-title {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

.availability-text {
  font-size: 0.9rem;
  margin-top: 5px;
}

/* add to inventry  */
.btn-success {
  height: 40px;

  /* Added spacing for "Add a New Car to Inventory" */
}

.section-title {
  color: #333;
  font-weight: bold;
  font-size: 1.5rem;
}

/* Remove Border Color */
.btn-primary {
  background-color: var(--primary-color);
  /* Replace with your desired background color */
  border: none;
  /* Removes the border */
  color: #fff;
  /* Button text color */
  transition: background-color 0.3s ease;
}

/* Hover State */
.btn-primary:hover {
  background-color: var(--secondary-color);
  /* Replace with your desired hover color */
}

/* Responsive adjustments */
@media (max-width: 992px) {
  .sidebar {
    width: 200px;
  }

  main {
    margin-left: 200px;
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    position: relative;
    height: 40vh;
    /* Set height to 60% of the viewport height */
    min-height: unset;
  }

  .sidebar .nav-link {
    display: inline-block;
    margin: 5px;
  }

  main {
    margin-left: 0;
  }
}

@media (max-width: 576px) {
  .sidebar {
    height: 40vh;
    /* Set height to 60% of the viewport height */
    min-height: unset;
    /* Override min-height to allow setting a fixed height */
  }
}

.badge {
  font-size: 0.75rem;
  padding: 0.25em 0.6em;
}

.nav-item.position-relative {
  padding-right: 15px; /* Make room for the badge */
}

/* Animation for new notifications */
@keyframes pulse {
  0% {
    transform: scale(1) translate(-50%, -50%);
  }
  50% {
    transform: scale(1.2) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}

.badge.bg-danger {
  animation: pulse 1s ease-in-out;
}
