<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vehicle Rental Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- FontAwesome for Icons -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
    <!-- Chart.js for charts -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Custom CSS for Primary Color and Enhancements -->
    <style>
      .notification-card {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 0.5rem;
        transition: transform 0.2s;
      }

      .notification-card:hover {
        transform: scale(1.02);
      }

      .notification-icon {
        font-size: 2rem;
      }

      .timestamp {
        font-size: 0.85rem;
        color: gray;
      }
    </style>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <!-- Sidebar -->
       <app-side-bar (parentFun)="parentFun()" ></app-side-bar>
        <!-- Main Content -->
        <div class="main-content col-md-10 offset-md-2">
          <div
            *ngIf="bookingRequests.length === 0"
            class="text-center"
            style="
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: center;
            "
          >
            <i class="bi bi-bell-slash fs-1 text-muted"></i>
            <h5 class="mt-3 text-muted">No notifications found</h5>
          </div>
          <!-- <h1 class="mb-4 text-center">Notifications</h1> -->
          <div class="row gy-4">
            <!-- Notification 1 -->
            <div class="col-12 p-3 mb-4">
              <div
                *ngFor="let request of bookingRequests"
                class="card notification-card p-3 mb-4"
                [ngStyle]="{
                  'background-color': request.isRead ? '#D3D3D3' : '#add8e6'
                }"
              >
                <div class="d-flex justify-content-between align-items-start">
                  <!-- Notification content -->
                  <div
                    *ngIf="request.notificationType === 1"
                    class="d-flex align-items-start"
                  >
                    <i
                      class="bi bi-car-front-fill notification-icon text-success me-3"
                    ></i>
                    <div>
                      <h6
                        class="mb-1"
                        [ngClass]="{ 'text-white': !request.isRead }"
                      >
                        New Booking Request
                      </h6>
                      <p class="mb-0">{{ request.message }}</p>
                      <small class="timestamp">{{
                        getTimeDifference(request.createdDate)
                      }}</small>
                    </div>
                  </div>
                  <div
                    *ngIf="request.notificationType === 4"
                    class="d-flex justify-content-between align-items-start"
                  >
                    <!-- Notification content -->
                    <div class="d-flex align-items-start">
                      <i
                        class="bi bi-slash-circle notification-icon text-danger me-3"
                      ></i>
                      <div>
                        <h6 class="mb-1">Rental Cancelled</h6>
                        <p class="mb-0">{{ request.message }}</p>
                        <small class="timestamp">{{
                          getTimeDifference(request.createdDate)
                        }}</small>
                      </div>
                    </div>
                    <!-- Payment -->
                    <div
                      class="payment d-flex flex-column align-items-center gap-2"
                    ></div>
                  </div>
                  <div
                    *ngIf="request.notificationType === 5"
                    class="d-flex align-items-start"
                  >
                    <i
                      class="bi bi-currency-dollar notification-icon text-info me-3"
                    ></i>
                    <div>
                      <h6
                        class="mb-1"
                        [ngClass]="{ 'text-white': !request.isRead }"
                      >
                        Payment Received
                      </h6>
                      <p class="mb-0">
                        {{ request.misc.user.name }}, {{ request.message }}
                      </p>
                      <small class="timestamp">{{
                        getTimeDifference(request.createdDate)
                      }}</small>
                    </div>
                  </div>
                  <!-- Accept and Reject Icons -->
                  <div
                    *ngIf="request.notificationType === 1 && !request.isRead"
                    class="acceptreject d-flex flex-column align-items-center gap-2"
                  >
                    <button
                      class="btn btn-success btn-sm w-100"
                      style="min-width: 100px"
                      title="Accept Booking"
                      (click)="showConfirmation(request, 'accept')"
                    >
                      Accept
                      <i class="fas fa-check"></i>
                    </button>
                    <button
                      class="btn btn-danger btn-sm w-100"
                      style="min-width: 100px"
                      title="Reject Booking"
                      (click)="showConfirmation(request, 'reject')"
                    >
                      Reject
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Add this right before closing body tag -->
    <div
      class="modal fade"
      id="confirmationModal"
      tabindex="-1"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="confirmationModalLabel">
              Confirm Action
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            Are you sure you want to {{ currentAction }} this booking request?
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cancel
            </button>
            <button
              type="button"
              [class]="
                currentAction === 'accept'
                  ? 'btn btn-success'
                  : 'btn btn-danger'
              "
              (click)="confirmAction()"
            >
              Confirm {{ currentAction }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <router-outlet></router-outlet>

    <!-- Bootstrap JS and Popper.js -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
      integrity="sha384-eNf13dJyDpZWUUjrRf9v5VxfsHq1EIZOUihL+E7DaiMCbQWsgs5hbx92YZHnPfbo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-qQ3D3q9B91Tl97uNT+EEVoPxxfpSoXiFuH8zT4iCfyMy24VZQU68UMi81wgbbsio"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
