  /* Sidebar */
  .row a{
    font-size: 18px;
  }
  .sidebar {
    background-color: #212529;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    color: white;
  }

  .sidebar .nav-link {
    color: white;
  }

  .sidebar .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .sidebar .nav-link i {
    color: white;
  }
  h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

.table img {
  border-radius: 5px;
}

.badge {
  padding: 0.4em;
}

.container {
  margin-left: 18%; /* Offset the sidebar width */
}
