* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
:root {
  /* --text-color: #333; */
  --text-color:#0B2154 ;
  --primary-color: #863884; /* Deep purple */
  --secondary-color: #6A1B9A; /* Light purple */
}
.vehicle-form {
    max-width: 500px;
    margin: auto;
    margin-top: 10vh;
    padding: 20px;
    background-color: #f8f3fc;
    border: 1px solid #e0c7ff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-family: Arial, Asans-serif;
  }
  
  
  .vehicle-form h1 {
    text-align: center;
    color: var(--text-color);
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    color: var(--text-color);
   
    margin-bottom: 5px;
  }
  
  .vehicle-form input[type="text"],
  .vehicle-form input[type="number"],
  .vehicle-form input[type="file"],
  .vehicle-form input[type="checkbox"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: var(--text-color);
    border: 1px solid #d2b2fc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .vehicle-form input[type="number"]::-webkit-inner-spin-button,
  .vehicle-form input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  .vehicle-form input[type="text"]:focus,
  .vehicle-form input[type="number"]:focus,
  .vehicle-form input[type="file"]:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 5px rgba(155, 77, 252, 0.3);
  }
  
  .vehicle-form input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
  }
  
  .vehicle-form select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: var(--primary-color);
    border: 1px solid #d2b2fc;
    border-radius: 5px;
    background-color: #f8f3fc;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .vehicle-form select:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 5px rgba(155, 77, 252, 0.3);
  }
  
  .vehicle-form button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .vehicle-form button[type="submit"]:hover {
    background-color: var(--secondary-color);
  }
  
  /* Add More Checkbox */
  .vehicle-form .form-group label[for="addMore"] {
    display: flex;
    align-items: center;
    font-weight: normal;
    color: var(--primary-color);
  }
  
  .vehicle-form .form-group input[type="checkbox"] + label {
    font-weight: normal;
    color: var(--primary-color);
  }
  
  /* Style the file input */
  .vehicle-form input[type="file"] {
    padding: 5px;
    font-size: 16px;
    color: var(--primary-color);
  }
  
  